.mainHeader {
    text-align: center;
    margin-top: 0.1em;
    display: inline-flex;

}

t1:hover{
    color: #000238;
}

.t1 {
    font-size: 2.5em;
    color: blue;
    text-align: left;
    cursor: pointer;
    transition: color 0.065s ease;
}

.t1:hover {
    color: rgb(54, 0, 52);
}

.t2 {
    font-size: 2.5em;
    color: red;
    text-align: middle;
}

.t3 {
    font-size: 2.5em;
    color: green;
    text-align: right;
}